@model IEnumerable<parish_bookstore.Models.PrayerRope>

@{
    ViewData["Title"] = "Prayer Ropes";
    ViewData["Header"] = "Prayer Ropes";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KnotCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KnotCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrayerRopeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrayerRopeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrayerRopeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
