@model IEnumerable<parish_bookstore.Models.PrayerRope>

@{
    ViewData["Title"] = "Prayer Ropes";
    ViewData["Header"] = "Prayer Ropes";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th id="firstColumnHead">
                @Html.DisplayNameFor(model => model.KnotCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th id="lastColumnHead"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KnotCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PrayerRopeId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
