@model parish_bookstore.Models.Book

@{
    ViewData["Title"] = "Remove Book";
    BookstoreContext context = (BookstoreContext)ViewData["Context"];
    ViewData["Header"] = "Remove Book";
}

<h3 class="deleteHeader">Are you SURE you want to DELETE this?</h3>

<div class="imageContainer">
    <img src="~/media/images/@Model.ImageName">
</div>
<div class="detailsContainer">
    <div class="row">
        <div class="labelColumn">
            @Html.DisplayNameFor(model => model.BookCategoryId)
        </div>
        <div class="column">
            @context.BookCategories.Find(Model.BookCategoryId).CategoryName.ToString()
        </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Title)
            </div>
            <div class="column" >
                @Html.DisplayFor(model => model.Title)
            </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Author)
            </div>
            <div class="column" >
                @Html.DisplayFor(model => model.Author)
            </div>
    </div>
    <div class="row">
        <div class="labelColumn">
            @Html.DisplayNameFor(model => model.PageCount)
        </div>
        <div class="labelColumn">
            @Html.DisplayFor(model => model.PageCount)
        </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Publisher)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.Publisher)
            </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.PublishYear)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.PublishYear)
            </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.ISBN)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.ISBN)
            </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Price)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.Price)
            </div>
    </div>
    <div class="row">
        <div class="labelColumn">
            @Html.DisplayNameFor(model => model.Quantity)
        </div>
        <div class="labelColumn">
            @Html.DisplayFor(model => model.Quantity)
        </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.Description)
            </div>
    </div>
    <div class="row, stageButtons">
        <form asp-action="Delete">
			<input type="hidden" asp-for="BookId"/>
			<input type="submit" value="Delete" class="delete"/> |
			<a asp-action="Index" class="backToIndex"> &larr; Back to List</a>
    </form>
    </div>
</div>
<br>

