@model parish_bookstore.Models.Book

@{
    ViewData["Title"] = "Delete Book";
    BookstoreContext context = (BookstoreContext)ViewData["Context"];
    ViewData["Header"] = "Delete Book";
}

<p class="warnHeader">ADMIN</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.BookCategoryId)
        </dt>
        <dd>
            @context.BookCategories.Find(Model.BookCategoryId).CategoryName.ToString()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BookId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
