@model parish_bookstore.Models.Book

@{
    ViewData["Title"] = "Book Details";
    BookstoreContext context = (BookstoreContext)ViewData["Context"];
    ViewData["Header"] = "Book Details";
}


<div>
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.BookCategoryId)
        </dt>
        <dd>
            @context.BookCategories.Find(Model.BookCategoryId).CategoryName.ToString()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
