@model parish_bookstore.Models.Icon

@{
    ViewData["Title"] = "Icon Details";
    ViewData["Header"] = "Icon Details";
}

<div class="imageContainer">
    <img src="~/media/images/@Model.ImageName">
</div>
<div class="detailsContainer">
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="column" >
                @Html.DisplayFor(model => model.Name)
            </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Price)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.Price)
            </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="column" id="description">
                @Html.DisplayFor(model => model.Description)
            </div>
    </div>
    <div class="row, stageButtons">
        <a asp-action="Index" class="backToIndex"> &larr; Back to List</a> | 
        <a href="#" class="cartButton">Add to Cart</a>
    </div>
</div>
<br>

