@model parish_bookstore.Models.Icon

@{
    ViewData["Title"] = "Remove Icon";
    BookstoreContext context = (BookstoreContext)ViewData["Context"];
    ViewData["Header"] = "Remove Icon";
}

<h3 class="deleteHeader">Are you SURE you want to DELETE this?</h3>

<div class="imageContainer">
    <img src="~/media/images/@Model.ImageName">
</div>
<div class="detailsContainer">
    <div class="row">
        <div class="labelColumn">
            @Html.DisplayNameFor(model => model.CategoryId)
        </div>
        <div class="column">
            @context.IconCategories.Find(Model.CategoryId).CategoryName.ToString()
        </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="column" >
                @Html.DisplayFor(model => model.Name)
            </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Price)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.Price)
            </div>
    </div>
    <div class="row">
        <div class="labelColumn">
            @Html.DisplayNameFor(model => model.Quantity)
        </div>
        <div class="labelColumn">
            @Html.DisplayFor(model => model.Quantity)
        </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.Description)
            </div>
    </div>
    <div class="row, stageButtons">
        <form asp-action="Delete">
			<a asp-action="Index" class="backToIndex"> &larr; Back to List</a> | 
			<input type="hidden" asp-for="IconId" />
			<input type="submit" value="Delete" class="delete"/>
    </form>
    </div>
</div>
<br>

