@model parish_bookstore.Models.PrayerRope

@{
    ViewData["Title"] = "Remove Rope";
    BookstoreContext context = (BookstoreContext)ViewData["Context"];
    ViewData["Header"] = "Remove Prayer Rope";
}

<h3 class="deleteHeader">Are you SURE you want to DELETE this?</h3>

<div class="imageContainer">
    <img src="~/media/images/@Model.ImageName">
</div>
<div class="detailsContainer">
    <div class="row">
        <div class="labelColumn">
            @Html.DisplayNameFor(model => model.KnotCount)
        </div>
        <div class="column">
            @Html.DisplayFor(model => model.KnotCount)
        </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Material)
            </div>
            <div class="column" >
                @Html.DisplayFor(model => model.Material)
            </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Price)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.Price)
            </div>
    </div>
    <div class="row">
        <div class="labelColumn">
            @Html.DisplayNameFor(model => model.Quantity)
        </div>
        <div class="labelColumn">
            @Html.DisplayFor(model => model.Quantity)
        </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.Description)
            </div>
    </div>
    <div class="row, stageButtons">
        <form asp-action="Delete">
			<input type="hidden" asp-for="PrayerRopeId" />
			<input type="submit" value="Delete" class="delete"/> |
			<a asp-action="Index" class="backToIndex">Back to List</a>
    </form>
    </div>
</div>
<br>

