@model parish_bookstore.Models.HomeAltarItem

@{
    ViewData["Title"] = "Item Details";
    BookstoreContext context = (BookstoreContext)ViewData["Context"];
    ViewData["Header"] = "Home Altar Item Details";
}

<div class="imageContainer">
    <img src="~/media/images/@Model.ImageName">
</div>
<div class="detailsContainer">
    <div class="row">
        <div class="labelColumn">
            @Html.DisplayNameFor(model => model.CategoryId)
        </div>
        <div class="column">
            @context.HomeAltarItemCategories.Find(Model.CategoryId).CategoryName.ToString()
        </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="column" >
                @Html.DisplayFor(model => model.Name)
            </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Price)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.Price)
            </div>
    </div>
    <div class="row">
            <div class="labelColumn">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="column">
                @Html.DisplayFor(model => model.Description)
            </div>
    </div>
    <div class="row, stageButtons">
        <a asp-action="Edit" asp-route-id="@Model?.HomeAltarItemId" class="backToIndex">Edit</a> |
        <a asp-action="Index" class="backToIndex">Back to List</a>
    </div>
</div>
<br>

